<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/cartStyle.css">
<main id="cart-main">
    <section id="cart-section-title" class="dohyeon">
        <h2>낭만목록</h2>
    </section>
    <section id="cart-list-wrap">
        <% if(result.length > 0){%> <% for( let i = 0; i < result.length; i++ )  { %>
        <article class="cart-list">
            <div class="img-wrap">
                <img src= <%=result[i].image%> alt = <%=result[i].name%>/>
            </div>
            <div class="content-wrap">
                <h4 class="gmarket"><%=result[i].name%></h4>
                <p class="nanum"><%=result[i].location%></p>
            </div>
            <div class="btn-wrap" id=<%=result[i].tl_id%>>
                <i class="fa-solid fa-trash remove-btn"></i>
                <p class="delete-span jua">
                    낭만 <br />
                    제거
                </p>
            </div>
        </article>

        <% }} else { %>
        <article id="empty-cart" class="gmarket">
            <img src="/assets/empty-cart.png" alt="empty-cart">
            <h4>담겨있는 낭만이 없습니다!</h4>
        </article>
        <% } %>
        <div id="pop-up-cart" class="pop-up">
            <article class="jalnan">
                <h3>삭제하시겠습니까?</h3>
                <div id="btn-wrap">
                    <button id="cancel-btn">취소</button>
                    <button id="ok-btn">확인</button>
                </div>
            </article>
        </div>
    </section>
</main>
<script src="/js/cart.js"></script>
<%-include('../footer.ejs') %>
