<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/boardStyle.css" />
<main id="board-detail-main">
    <section id="read-section">
        <article id="read-header" class="nanum">
            <h4><%=result[0].title%></h4>
            <strong><%=result[0].m_name%></strong> 
            <span><%=result[0].regDate%> 조회 <%=result[0].views%></span>
        </article>
        <article id="read-content">
            <pre id="board-detail-text"><%=result[0].content%></pre>
        </article>
        <article id="write-footer">
            <a href=<%="/board/update/" +result[0].b_id%>>
             <button class="write-btn">수정</button></a>
            <button
                onclick="deleteBoard('<%=result[0].b_id %>');"
                class="write-btn" >
                삭제
            </button>
            <a href="/board/main"><button class="write-btn">목록</button></a>
        </article>
    </section>
</main>

<script>
    document.title = "RomanTrip > Board > Detail";
</script>
<script src="/js/board.js"></script>
<%-include('../footer.ejs') %>
