<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/boardStyle.css">

<main id="board-main">
    <section class="subject-title dohyeon">
        <h3>게시판</h3>
    </section>
    <div id="board-wrap">
        <section id="board-table-section">
            <article id="board-table-article">
                <table border="1" id="board-table">
                    <thead>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </thead>
                
                    <tbody>
                    <% if(result[0]==null){
                        
                        for(let i = 0 ; i < 10 ; i++){%>
                    <tr class="nbsp-tr">
                        <td >&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td >&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                        <%} }else { %>
                    <% for( let i = 0 ; i <result.length ; i++ ) { 
                        let data = result[i];
                        %>
                        <tr class="data-tr">
                            <td><%=data.b_id%></td>
                            <td><a href="/board/detail/<%= data.b_id%>" id="title-td"><%=data.title %></a></td>
                            <td><%=data.m_name%></td>
                            <td><%=data.regDate%></td>
                            <td><%=data.views%></td>
                            
                        </tr>
                        <% }}%>     
                    </tbody>
                </table>
                <div id="paging-btn-wrap">
                <% for(let j = 0; j < Math.ceil(pageLength / page_num); j++){ %>
                    <button class="paging-btn" onclick="paging('<%=j+1%>')"><%= j + 1 %></button>
                <% } %>
                </div>
            </article>
            <article id="board-footer">
                <div class="board-search">
                    <form >
                        <select name="select" id="search-select">
                             <option value="title"  
                            <% if(selected === "title"){ %>
                                selected="selected"
                                <%}%>
                                >제목</option>
                            <option value="m_name" 
                            <% if(selected === "m_name"){%>
                                selected="selected"
                                <%}%>
                                >작성자</option>
                            <option value="content"
                             <% if(selected === "content"){%>
                                selected="selected"
                                <%}%>
                                >내용</option>
                        </select>
                        <input type="text" placeholder="검색어를 입력하세요" name="text" id="search-text" />
                        <input type="submit" value="검색"></input>
                    </form>
                </div>
                <div class="board-write">
                        <a href="/board/write"><button style="cursor: pointer; font-size:1.2em;margin-right:10px"><i class="fa-solid fa-pen-to-square"></i>글쓰기</button></a>
                    </div>
            </article>
        </section>
    </div>
  
</main>



<script>
    document.title = "RomanTrip > Board > List";
</script>
<script src="/js/board.js"></script>
<%-include('../footer.ejs') %>
