<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/boardStyle.css" />
<main id="write-main">
    <section class="subject-title dohyeon">
        <h3>글 수정</h3>
    </section>
    <section id="write-section">
        <input type="text" name="title" id="update-title" class = "write-title nanum" value=<%=result[0].title%>></input>
        <textarea name="content" id="update-content" class = "write-content nanum" cols="20" wrap="hard"><%=result[0].content%></textarea>
        <div class="write-page-btns">
                <input type="button" value="수정" onclick="toUpdateSubmit('<%=result[0].b_id%>')" />
                <input type="button" value="삭제" onclick="deleteBoard('<%=result[0].b_id%>')">
                <a href="/board/main"><input type="button" value="취소" /></a>
        </div>
    </section>
</main>
<script>
    document.title = "RomanTrip > Board > Write";
</script>
<script src="/js/board.js"></script>
<%-include('../footer.ejs') %>
